@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #1f2c33;
  --background-color: #4ba485;
  --scrollbar-color: #eff2f5;
  --background-img: url('/bg-light.jfif');
}

.dark {
  --font-color: #ffffff;
  --background-color: #1f2c33;
  --scrollbar-color: #54646F;
  --background-img: url('/bg-dark.jpg');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.bg-chat {
  background-image: var(--background-img);
  background-repeat: repeat;
  background-size: 40%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}
