@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-color: #131b20;
  --background-color: #4ba485;
}

.dark {
  --font-color: #ffffff;
  --background-color: #131b20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
